<style>
.figure {
  float: left;
  padding-right: 20px;
}

.figcaption {
  display: none;
}

.figure:hover .figcaption {
  display: block;
}
</style>

<div class="example">
  <h3>Task 2 :: Hovers</h3>
  <a href="/"><< Return Home</a><br />
  <p>Make an automation test that checks if the user will land on the correct user profile page. <br />
  NOTE: Take just one user for testing</p>
  <% 3.times do |count| %>
  <div class="figure">
    <img src="/img/avatar-blank.jpg" alt="User Avatar">
    <div class="figcaption">
      <h5>name: user<%= count+1 %></h5>
      <a href="/users/<%= count+1 %>">View profile</a>
    </div>
  </div>
  <% end %>
</div>
