<div class="example">
  <h3>Task 2 :: Status Codes</h3>
  <p>
    Make an automation test that checks if all status code pages return the right status code

    <ul>
      <li><a href='status_codes/200'>200</a></li>
      <li><a href='status_codes/301'>301</a></li>
      <li><a href='status_codes/404'>404</a></li>
      <li><a href='status_codes/500'>500</a></li>
    </ul>

  </p>
  <a href="/"><< Return Home</a>
</div>
